<!-- Container -->
<div class="container mt-4">
  <!-- Card -->
  <div class="card">
    <div class="card-body">
      <span class="h3">Listado de Empelados</span>
      <button type="text" routerLink="/create-empleado" class="btn btn-dark btn-lg float-end">Agregar</button>
      <!-- Tabla -->
      <table class="table mt-5 table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
            <th>Salario</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- Iteración del arreglo empleados y mostrando en html -->
          <tr *ngFor="let empleado of empleados">
            <!-- Interpolamos -->
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.apellido }}</td>
            <td>{{ empleado.documento }}</td>
            <td>{{ empleado.salario | currency}}</td> <!-- Utilizamos un Pipe para mostrar el dato como moneda -->
            <td>
              <!-- Iconos con clases de fontawesome y bootstrap que le agregamos -->
              <i class="fa-solid fa-pen-to-square fa-lg text-info"></i>
            </td>
            <td>
              <!-- Por medio del evento llamamos al método que elimina el elemento que sea seleccionado -->
              <i (click)="eliminarEmpleado(empleado)" class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Fin Tabla -->
    </div>
  </div>
  <!-- Fin de card-->
</div>
